<div class="page page-table">

    <div class="row ui-section">
        <div class="col-lg-8 clearfix">
            <h2 class="section-header">Instances Provision Requests</h2>
        </div>
        <div class="col-md-12">
            <section class="panel panel-default table-dynamic">


                <table class="table table-bordered table-striped table-responsive">
                    <thead>
                    <tr>
                        <th>
                            <div class="th">
                                Status

                            </div>
                        </th>
                        <th>
                            <div class="th">
                                Request type

                            </div>
                        </th>
                        <th>
                            <div class="th">
                                Tenant

                            </div>
                        </th>
                        <th>
                            <div class="th">
                                User
                            </div>
                        </th>
                        <th>
                            <div class="th">
                                Created on
                            </div>
                        </th>
                        <th>
                            <div class="th">
                                Approbation by
                            </div>
                        </th>
                        <th>
                            <div class="th">
                                Approbation on
                            </div>
                        </th>
                        <th>
                            <div class="th">
                                Approbation
                            </div>
                        </th>
                        <th>
                            <div class="th">
                                Completed on
                            </div>
                        </th>

                    </tr>
                    </thead>
                    <tbody>
                    <tr data-ng-repeat="request in vm.requests">
                        <td><span class="label" ng-class="vm.statusLabel(request.status)">{{request.status}}</span>
                            <md-tooltip>
                                {{request.description}}
                            </md-tooltip>
                            <br>
                            <small>{{request.message}}</small>
                        </td>
                        <td>{{request.request_type}}</td>
                        <td>{{vm.tenant(request.tenant_id).name}}</td>
                        <td><a href="#/app/users/{{request.requester_id}}">{{request.requester_name}}</a></td>
                        <td>{{request.created_on | amDateFormat:'ddd. MMM DD YYYY - HH:mm:ss Z'}}</td>
                        <td>{{request.userid}}</td>
                        <td>{{request.updated_on | amDateFormat:'ddd. MMM DD YYYY - HH:mm:ss Z'}}</td>
                        <td>
                            <div ng-if="request.approval_state !== vm.states[2].name">
                                <i class="approval zmdi" ng-class="vm.approval(request.approval_state)"></i>

                                <md-tooltip>
                                    {{request.reason}}
                                </md-tooltip>
                            </div>
                            <div class="approval" ng-if="request.approval_state === vm.states[2].name">
                                <md-button aria-label="check" ng-click="vm.approbe($event, request, 'accept')" class="md-fab md-primary md-fab-xs"><span
                                        class="zmdi zmdi-check"></span></md-button>
                                <md-button aria-label="close" ng-click="vm.approbe($event, request, 'deny')" class="md-fab md-warn md-fab-xs"><span
                                        class="zmdi zmdi-close"></span></md-button>
                            </div>
                        </td>
                        <td>{{request.fulfilled_on | amDateFormat:'ddd. DD MMM YYYY - HH:mm:ss Z'}}</td>

                    </tr>
                    </tbody>
                </table>

                <footer class="table-footer">
                    <div class="row">
                        <div class="col-md-6 page-num-info">
                <span>
                Show
                <select data-ng-model="vm.itemsPerPage"
                        data-ng-options="num for num in vm.numPerPageOpt"
                        data-ng-change="vm.onNumPerPageChange()">
                </select>
                entries per page
                </span>
                        </div>
                        <div class="col-md-6 text-right pagination-container">
                            <uib-pagination class="pagination-sm"
                                            ng-model="vm.currentPage"
                                            total-items="vm.totalItems"
                                            max-size="4"
                                            ng-change="vm.pageTo(vm.currentPage)"
                                            items-per-page="vm.itemsPerPage"
                                            rotate="false"
                                            previous-text="&lsaquo;" next-text="&rsaquo;"
                                            boundary-links="true"></uib-pagination>
                        </div>
                    </div>
                </footer>
            </section>
        </div>
    </div>

</div>