.nav-container .nav ul li > a > i {
  display: inline-block;
  margin-right: 10px;
  width: 20px;
  line-height: 20px;
  text-align: center;
  font-size: 16px;
  -webkit-transition: all 0.25s ease-in-out;
  transition: all 0.25s ease-in-out;
}