
<div class="nav-wrapper">
    <ul id="nav"
        class="nav"
        data-slim-scroll
        data-collapse-nav
        data-highlight-active>
        <li class="nav-title"> <span data-translate="NAVIGATION"></span> </li>
        <li><a md-button aria-label="meanu" href="#/dashboard"><i class="zmdi zmdi-home"></i><span data-translate="DASHBOARD"></span> </a></li>


        <li>
            <a md-button aria-label="meanu" href="#"><i class="zmdi zmdi-cloud-outline-alt"></i><span><span data-translate="INFRASTRUCTURE"></span> </span></a>
            <ul>
                <li><a md-button aria-label="meanu" href="#/app/instances"><i class="zmdi zmdi-cloud-done"></i><span data-translate="INSTANCES"></span></a></li>
                <li><a md-button aria-label="meanu" href="#/app/requests"><i class="zmdi zmdi-cloud-upload"></i><span data-translate="REQUESTS"></span></a></li>

            </ul>
        </li>

        <li class="nav-divider"></li>
        <tenants-nav></tenants-nav>

    </ul>
</div>